
@model Hymalia.Areas.AdminCP.Models.Authentication.ChangePasswordRequestModel
@{
    Layout = null;
}

<form asp-action="ChangePassword" asp-controller="Authentication" method="post" onsubmitsuccess="onChangePasswordSubmitted">
    <input type="hidden" asp-for="id">
    <div class="form-group">
        <label>Mật khẩu cũ<span class="text-danger font-italic">*</span></label>
        <input type="password" class="form-control form-control-sm" asp-for="oldPassword">
        <span class="text-danger font-italic" asp-validation-for="oldPassword"></span>
    </div>

    <div class="form-group">
        <label>Mật khẩu mới<span class="text-danger font-italic">*</span></label>
        <input type="password" class="form-control form-control-sm" asp-for="newPassword">
        <span class="text-danger font-italic" asp-validation-for="newPassword"></span>
    </div>

    <div class="form-group">
        <label>Xác thực mật khẩu mới <span class="text-danger font-italic">*</span></label>
        <input type="password" class="form-control form-control-sm" asp-for="retypePassword">
        <span class="text-danger font-italic" asp-validation-for="retypePassword"></span>
    </div>
</form>
