@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback";
@import "../../admin-lte/plugins/fontawesome-free/css/all.min.css";
@import "../../admin-lte/plugins/toastr/toastr.min.css";
@import "../../admin-lte/plugins/sweetalert2/sweetalert2.min.css";
@import "../../admin-lte/plugins/pace-progress/themes/blue/pace-theme-minimal.css";
@import "../../admin-lte/plugins/daterangepicker/daterangepicker.css";
@import "../../admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css";
@import "../../admin-lte/plugins/select2/css/select2.min.css";
@import "../../admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css";
@import "../../admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css";
@import "../../admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css";
@import "../../admin-lte/dist/css/adminlte.min.css";



body {    
  .loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1500;
    background-color: rgba(0, 0, 0, 0.25);
    
    .loading-dialog {
      display: inline-block;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 10px 20px;
      
      .loading-icon {
        font-size: 28px;
        margin-bottom: 2px;
      }
    }
  }
  
  .icheck-primary {
    label {
      font-weight: normal !important;
    }
  }
  
  span.field-validation-error {
    display: block;
    padding-top: 2px;
    color: red;
    font-size: 13px;
  }
  
  .required {
    font-weight: 700;
    margin-left: 3px;
    color: red;
    
    &::after {
      content: "*";
    }
  }
  
  .card-body.p-0 {
    .table.table-bordered {
      border: none;
      margin-top: 0 !important;

      .table.table-bordered {
        border: 1px solid #dee2e6;
      }
    }

    .dataTables_info {
      padding: 15px 10px 5px 10px;
    }
    
    .dataTables_paginate {
      padding: 5px 10px;
    }
    
    .dataTable.no-footer{
      border-bottom: 1px solid #d3d3d3;
    }

    .table thead>tr>th:first-of-type,
    .table tbody>tr>td:first-of-type,
    .table tfoot>tr>td:first-of-type{
      padding-left: .75rem !important;
    }

    .table thead>tr>th:last-of-type,
    .table tbody>tr>td:last-of-type,
    .table tfoot>tr>td:last-of-type{
      padding-right: .75rem !important;
    }
  }
}
.select2-dropdown{
  z-index: 999999!important;
}


@media (min-width: 576px) {
  .modal-lg, .modal-xxl {
    max-width: calc(100% - 60px);
  }
}


@media (min-width: 992px) {
  .modal-lg, .modal-xxl {
    max-width: 950px;
  }
}

@media (min-width: 1200px) {
  .modal-xxl {
    max-width: 1300px
  }
}